<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>Vertex Cover Stream</title>
  </head>
  <body>
    <div class="container">
      <div class="grid">
        <div class="header">
          <h1>Stream Vertex Cover</h1>
        </div>
        <div class="main box">
          <h2>Main</h2>
          <div class="main-form">
            <div class="form-row">
              <label for="input-algs" class="form-label">
                Choose an algorithm:
              </label>
              <select name="input-algs" id="input-algs" class="form-input">
                <option value="branching">Branching</option>
                <option value="kernel">Kernel</option>
              </select>
            </div>
            <div class="form-row">
              <label for="input-graph" class="form-label">
                Choose a graph:
              </label>
              <select name="input-graph" id="input-graph" class="form-input">
                <option value="..\test_sets\edge_lists\florentine_families.txt">
                  Florentine Families
                </option>
                <option
                  value="..\test_sets\edge_lists\les_miserables_edgelist.txt"
                >
                  Les Miserables
                </option>
                <option value="..\test_sets\edge_lists\rome99_edgelist.txt">
                  Rome99
                </option>
              </select>
            </div>
            <div class="form-row">
              <label for="input-k" class="form-label">Input a k value:</label>
              <input
                id="input-k"
                name="input-k"
                class="form-input"
                type="number"
                min="0"
                value="0"
              />
            </div>
            <div class="form-submit">
              <button id="submit">Submit Job</button>
            </div>
          </div>
        </div>
        <div class="stream box">
          <h2>Stream Log</h2>
          <div class="stream-log" id="stream-log"></div>
        </div>
        <div class="results box">
          <h2>Results</h2>
          <div class="results-log" id="results-log"></div>
        </div>
        <div class="status box">
          <h2>Status</h2>
          <div class="status-symbol">Ready</div>
        </div>
      </div>
    </div>
  </body>
</html>
