html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  color: aliceblue;
  background-color: #364f6b;
}

body {
  font-family: "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
p {
  margin: 0;
  padding: 0;
}

label {
  font-size: 1.2em;
}

select {
  min-width: 150px;
}

input,
select {
  width: calc(175px);
  box-sizing: border-box;
  padding: 12px 20px;
  border: none;
  background: aliceblue;
  border-radius: 15px;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0px 0px 3px grey;
}

::-webkit-scrollbar {
  width: 30px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 10px solid transparent;
  border-radius: 15px;
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid {
  display: grid;
  height: calc(100vh - 5rem);
  width: 1400px;
  padding-bottom: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.3fr repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "job stream results"
    "job stream results"
    "status stream results";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
}

.job {
  grid-area: job;
}

.stream {
  grid-area: stream;
}

.results {
  grid-area: results;
}

.status {
  grid-area: status;
}

.box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  background-color: aliceblue;
  color: black;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.job-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: lightblue;
  border-radius: 15px;
  padding: 1rem;
  margin-top: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.form-submit {
  display: flex;
  justify-content: center;
}

.status-symbol {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stream-log,
.results-log {
  flex-grow: 1;
  overflow: auto;
  font-family: "Courier New", Courier, monospace;
  background: lightblue;
  border-radius: 15px;
  padding: 1rem;
  margin-top: 0.5rem;
  white-space: pre-wrap;
}
